@using Microsoft.AspNetCore.Components
@using TransferMoney.Models
@using TransferMoney.Services
@inject JsonFileAccountService AccountService

@{
    var number = new List<int>();
    var balance = new List<int>();
    var label = new List<string>();
    var owner = new List<int>();
    var obj = new List<Object>();

    foreach (var account in AccountService.GetAccounts())
    {
        number.Add(account.Number);
        balance.Add(account.Balance);
        label.Add(account.Label);
        owner.Add(account.Owner);
        obj.Add(account);
    }
    var iii = 0;

    Object next()
    {
        iii++;
        return null;
    }
}




<div class="text-center">
    <h1>Navigation</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Balance</th>
                <th scope="col">Label</th>
                <th scope="col">Owner</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th id="navNum" scope="row">@number[iii]</th>
                <td id="navBalance">@balance[iii]</td>
                <td id="navLabel">@label[iii]</td>
                <td id="navOwner">@owner[iii]</td>

            </tr>
        </tbody>
    </table>

    (IFormCollection This comes from forms in Transfer controller)
    
    <h3>@iii</h3>
</div>